@import '../../styles/variables.scss';

.title {
    @include blackFontStyle;
    // padding-right: 4rem;
    position: fixed;
    z-index: 99;

    h1 {
        margin: 0;
    }

    h2 {
        white-space: nowrap;
    }
}

/* Mobile */
@media only screen and (max-width: 799px) {
    .br-none {
        display: none;
    }

    .title {
        width: 100%;
        margin-top: -5rem;
        margin-left: -6rem;
        padding: 5rem 6rem 0 6rem;
        box-sizing: border-box;
        position: relative;

        .h2 {
            margin-top: 1rem;
        }
    }
}