@import '../../../styles/variables.scss';

.about {
    margin-top: -4rem;
    padding-top: 8rem;

    h4 {
        margin: 0;
        @include baseFontStyle;
    }

    .accent {
        @include blackFontStyle;
    }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .about {
        margin-top: 0;
    }
}
