@import '../../styles/variables.scss';

.contact,
.social,
.contacts {
    display: flex;
}

.contact {
    position: fixed;
    bottom: 4rem;

    opacity: 0;
    @include animation;
    animation-delay: 0.6s;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .social {
            button {
                width: 3rem;
                height: 3rem;
                margin-right: 1rem;
            }
    
            .github {
                background-image: url('./resources/github.svg');
                @include transition;
                transition-property: background-image;
    
                &:hover {
                    background-image: url('./resources/hover/github.svg');
    
                }
            }
    
            .linkedin {
                background-image: url('./resources/linkedin.svg');
                @include transition;
                transition-property: background-image;
    
                &:hover {
                    background-image: url('./resources/hover/linkedin.svg');
    
                }
            }
    
        }
    
        .contacts {
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
    
            button {
                @include baseFontStyle;
                color: $blue;
                @include transition;
                transition-property: color;
                font-size: $fontSize1;
                padding: 0;
    
                &:hover {
                    color: $red;
                }
            }
        }
}

@media only screen and (max-width: 1024px) {
    .contact {
        position: relative;
        bottom: 0;
        margin-top: 1.5rem;
    }
}
