@import '../../styles/variables.scss';

.tittle {
    @include blackFontStyle;
    // padding-right: 4rem;
    position: fixed;
    z-index: 99;

    h1 {
        margin: 0;
    }

    h2 {
        white-space: nowrap;
    }
}
