@import '../../styles/variables.scss';

.tittle {
    @include blackFontStyle;
    // padding-right: 4rem;
    position: fixed;
    z-index: 99;

    h1 {
        margin: 0;
    }

    h2 {
        white-space: nowrap;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .br-none {
        display: none;
    }

    .tittle {
        width: 100%;
        margin-left: -6rem;
        text-align: center;

        .h2 {
            margin-top: 1rem;
        }
    }
}