@import '../../../styles/variables.scss';

.experience {
    margin-top: -4rem;

    .job-info {
        display: flex;
    
        .dates {
            white-space: nowrap;
        }
    
        .info-position {
            width: 100%;
            margin-left: 2rem;
            margin-top: -.3rem;
        }
    }
    
    .resume {
        position: absolute;
        margin-left: 10.8rem;
    }
}

@media only screen and (max-width: 767px) {
    .experience {
        margin-top: -10rem;
    }
}
