@import '../../../styles/variables.scss';

.projects {
    // margin-top: 3.5rem;
    position: relative;

    .about-project {
        h4 {
            padding: .5rem 0;
            text-align: justify;
        }
    }

 .view-all {
        position: relative;
        margin-left: .2rem;
    }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .info {
        .projects {
            .mobile-dropdown.open::after {
                bottom: -0.1rem;
            }
        }
    }
}
