@import './styles/variables.scss';

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: $black;
    @include baseFontStyle;
    font-size: $fontSize1;
}

h1 {
    font-size: $fontSize4;
}

h2, h3 {
    font-size: $fontSize1-4;
}

h4 {
    font-size: $fontSize1;
}

.content {
    padding: 4rem;
}

/* Mobile - Tablet */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
    html {
        font-size: 18px;
    }

    .content {
        padding: 5rem 6rem;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // height: 100vh;
    }

    h1 {
        font-size: $fontSize6;
    }

    h2 {
        font-size: $fontSize2;
    }
}
/* Tablet - Laptop */
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
    html {
        font-size: 14px;
    }
}
// /* Laptop */
// @media (min-width: 1024px) and (max-width: 1279px) {
//     html {
//         font-size: 14px;
//     }
// }
/* Desktop */
@media (min-width: 1280px) {
    html {
        font-size: 16px;
    }
}